*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFFBEF;
}

.container{
    
    
    text-align: center;
    padding: 2rem;
}

h2
{
    text-align: center;
    margin: 2rem;
    color: #FFA114;
}

